/* For the links to be changed to black */
a {color: black;} 

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
  justify-content: center;
}

/* center all tabs */
ul#tabs {
  align-items: center;
}


/* active navbar item remains white */
.navbar-nav .nav-link.active, .navbar-nav :where(ul.nav.navbar-nav > li) > a.active{
  color: #efefef;
}


/*active navbar item gets coloured underline  */
.nav-underline .nav-link.active, .nav-underline :where(ul.nav.navbar-nav > li) > a.active{
  border-bottom-color: #349e8e;
}


/* make the navbar thing THICk */
.nav-underline .nav-link, .nav-underline :where(ul.nav.navbar-nav > li) > a{
  font-size: 1em;
  border-bottom: 3px solid transparent;
  padding:0;
  margin:0;
}

/* reduce space around spacer line in input fields */
.spacer-line {
  border-top: 1px solid #000;
  margin: 0;
  padding: 0;
}

/* remove padding  */

.grid-card-empty {
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

.grid-card-left {
  border-right: none;
  border-left: 3px solid #5b5a5a;
  border-top: 3px solid #5b5a5a;
  border-bottom: 3px solid #5b5a5a;
  border-radius: 10px 0 0 10px;
  box-shadow: none;
  
}


.grid-card-right {
  border-left: none;
  border-right: 3px solid #5b5a5a;
  border-top: 3px solid #5b5a5a;
  border-bottom: 3px solid #5b5a5a;
  border-radius: 0 10px 10px 0;
  box-shadow: -2px 0 2px -2px #5b5a5a;
}

.grid-card-button {
  border: none;
  margin-top: 5px
}


.markdown-separator {
  border: 4px solid;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: 5px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
  text-align: center;
}

.grid-card-result {
  border-right: 3px solid #5b5a5a;
  border-left: none;
  border-top: 3px solid #5b5a5a;
  border-bottom: none;
  border-radius: 0 10px 0 0;
  margin-left: 0px;
  position: relative;
  box-shadow: 0 2px 2px -2px #5b5a5a;
}

.grid-card-result p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.grid-card-donutplot {
  border-right: none;
  border-left: 3px solid #5b5a5a;
  border-top: 3px solid #5b5a5a;
  border-bottom: none;
  border-radius: 10px 0 0 0;
  margin-left: 5px;
  position: relative;
  box-shadow: 0 2px 2px -2px #5b5a5a;
}

.grid-card-clusterinfo {
  padding-left: 30px;
  border-right: 3px solid #5b5a5a;
  border-left: 3px solid #5b5a5a;
  border-top: none;
  border-bottom: 3px solid #5b5a5a;
  border-radius: 0 0 10px 10px;
  margin-left: 5px;
  box-shadow: var(--bslib-card-box-shadow, 0px 1px 2px RGBA(var(--bslib-box-shadow-color-rgb), 0.1),0px 3px 7px RGBA(var(--bslib-box-shadow-color-rgb), 0.1),0px 12px 30px RGBA(var(--bslib-box-shadow-color-rgb), 0.08));
  display: flex;
  flex-direction: column; /* Ensure vertical layout */
  justify-content: center; /* Vertically center the content */
}


/* Batch upload Tab */

input.form-control {
  margin:0;
}

.batch-upload_download-button div.form-group.shiny-input-container div.input-group label.input-group-btn.input-group-prepend span.btn.btn-default.btn-file{
  background-color: #5b5a5a;
  color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-color: #5b5a5a;
  font-size: 0.9em;
}

/*this is the button with "Browse" inside when hovered upon */
.batch-upload_download-button div.form-group.shiny-input-container div.input-group label.input-group-btn.input-group-prepend span.btn.btn-default.btn-file:hover{
  color: #000000;
  border-width: 2px;
  border-style: solid;
  font-size: 0.9em;
}